body {
  background: #ba88db;
  font-family: sans-serif;
  /* #ffccff */
}

.topBar{
  display :flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.topIcons img{
  padding: 20px;
  padding-top: 5px
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h1{
  text-align: center;
  border-bottom: 2px solid
}

.holder {
  display: flex;
  background: #b166e3;
  align-content: center;
  border-radius: 5%;
  width: 800px;
  height :550px;
}

.holder img{
  border-radius: 5%;
  padding: 15px;
}
.holderText{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px;
}

.holder h3{
  text-align: center;
  padding: 5px;
}

.holder p{
  padding: 5px;
}

